@model Sales_And_Inventory_MIS.Models.Item
@using Sales_And_Inventory_MIS.Models

<table border="1" class="material">
    <caption>Material</caption>
    <tr>
        <td><b>Raison (kg)</b></td>
        <td>@Material.raison</td>
        <td><b>Mat300(kg)</b></td>
        <td>@Material.mat300</td>

    </tr>
    <tr>
        <td><b>Mekb(gram)</b></td>
        <td>@Material.mekb</td>
        <td><b>Titanium(gram)</b></td>
        <td>@Material.titanium</td>

    </tr>
    <tr>
        @*<td><b>Bursh (qty)</b></td>
        <td>@Material.bursh</td>*@
        @*<td><b>Mat450(kg)</b></td>
        <td>@Material.mat450</td>*@
        <td><b>Cobalt(gram)</b></td>
        <td>@Material.cobalt</td>
        <td><b>Aerosel(gram)</b></td>
        <td>@Material.aerosel</td>
        @*<td><b>JelCoat(kgs)</b></td>
        <td>@Material.jelcoat</td>*@

    </tr>    
    @*<tr>
    <td><b> bowl(qty)</b></td><td>@Material.bowl</td>
    <td><b>bolt(qty)</b></td><td>@Material.bolt</td>
    <td><b>Brush Cleaner(gram)</b></td><td>@Material.brushcleaner</td>
    <td><b>Cemenet(kg)</b></td><td>@Material.cement</td>
    </tr>*@
    @*<tr>
        <td><b>Colour(mg)</b></td>
        <td>@Material.colour</td>
        <td><b>Cutting Cream(price)</b></td>
        <td>@Material.cuttingcream</td>
        <td><b>Dori(qty)</b></td>
        <td>@Material.dori</td>
        <td><b>JelCoat(kgs)</b></td>
        <td>@Material.jelcoat</td>
    </tr>*@
    @*<tr>
        <td><b>Kapra(qty)</b></td>
        <td>@Material.kapra</td>
        <td><b>Kharpaichy(qty)</b></td>
        <td>@Material.kharpaichy</td>
        <td><b>Nut(qty)</b></td>
        <td>@Material.nut</td>
        <td><b>Plastic(meter)</b></td>
        <td>@Material.plastic</td>
    </tr>*@
    @*<tr>
        <td><b>Plastic Bolts(qty)</b></td>
        <td>@Material.plasticbolts</td>
        <td><b>Platic Paris(kgs)</b></td>
        <td>@Material.plasticparis</td>
        <td><b>Polish(price)</b></td>
        <td>@Material.polish</td>
        <td><b>Titanium(gram)</b></td>
        <td>@Material.titanium</td>
    </tr>*@
</table>


