@using Sales_And_Inventory_MIS.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Material @DateTime.Now</title>
</head>
<body>
    <div>

        <table border="1">
            <tr><td><b>Bursh (qty)</b></td><td>@Material.bursh</td></td></tr>
            <tr><td><b>Raison (kg)</b></td><td>@Material.raison</td></tr>
            <tr><td><b>Mat300(kg)</b></td><td>@Material.mat300</td></tr>
            <tr><td><b>Mat450(kg)</b></td><td>@Material.mat450</td></tr>
            <tr><td><b>Mekb(gram)</b></td><td>@Material.mekb</td></tr>
            <tr><td><b>Cobalt(gram)</b></td><td>@Material.cobalt</td></tr>

            <tr><td><b>Aerosel(gram)</b></td><td>@Material.aerosel</td></tr>
            <tr><td><b> bowl(qty)</b></td><td>@Material.bowl</td></tr>
            <tr><td><b>bolt(qty)</b></td><td>@Material.bolt</td></tr>

            <tr><td><b>Brush Cleaner(gram)</b></td><td>@Material.brushcleaner</td></tr>
            <tr><td><b>Cemenet(kg)</b></td><td>@Material.cement</td></tr>
            <tr><td><b>Colour(mg)</b></td><td>@Material.colour</td></tr>
            <tr><td><b>Cutting Cream(price)</b></td><td>@Material.cuttingcream</td></tr>
            <tr><td><b>Dori(qty)</b></td><td>@Material.dori</td></tr>
            <tr><td><b>JelCoat(kgs)</b></td><td>@Material.jelcoat</td></tr>
            <tr><td><b>Kapra(qty)</b></td><td>@Material.kapra</td></tr>
            <tr><td><b>Kharpaichy(qty)</b></td><td>@Material.kharpaichy</td></tr>
            <tr><td><b>Nut(qty)</b></td><td>@Material.nut</td></tr>
            <tr><td><b>Plastic(meter)</b></td><td>@Material.plastic</td></tr>
            <tr><td><b>Plastic Bolts(qty)</b></td><td>@Material.plasticbolts</td></tr>
            <tr><td><b>Platic Paris(kgs)</b></td><td>@Material.plasticparis</td></tr>
            <tr><td><b>Polish(price)</b></td><td>@Material.polish</td></tr>
            <tr><td><b>Titanium(gram)</b></td><td>@Material.titanium</td></tr>
        </table>




    </div>
</body>
</html>
