@model IEnumerable<Sales_And_Inventory_MIS.Models.Customer>

@using (Html.BeginForm("Search","Customers"))
{
    
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="text" name="name"  class="btn btn-default" />
                <input type="submit" value="Search" class="btn btn-default" />

            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ammount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ammount)
            </td>
            <td>
                @Html.ActionLink("Bills", "BillsForCustomer", "Orders", new { id = item.id }, null) |
                @Html.ActionLink("Payments", "Payments", new { id = item.id }) |
                @Html.ActionLink("History", "CustomerTransactions", "Transactions", new { Customerid = item.id }, null)|

                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
