@model Sales_And_Inventory_MIS.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Charges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Charges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.borderframe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borderframe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorderFrame_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorderFrame_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acrylic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acrylic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shell_quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shell_quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat300)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat300)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat450)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat450)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cobalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cobalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mekb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mekb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titanium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titanium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bursh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bursh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JelCoat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JelCoat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aerosel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aerosel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrushCleaner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrushCleaner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plastic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plastic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plasticparis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plasticparis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bolts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bolts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plastic_nut_Bolts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plastic_nut_Bolts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khrpaichy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khrpaichy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Polish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Polish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kapra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kapra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bowl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bowl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuttingcream)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuttingcream)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cement)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
