@model IEnumerable<Sales_And_Inventory_MIS.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    

}
<a href="~/Orders/Search" class="btn btn-block btn-danger">Search</a>
<br />
<p>
    @Html.ActionLink("Create New Order", "Create","Orders",null, new { @class = "btn btn-success keepDistance" })
</p>
<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        if (Session["orderid"] != null && item.id == Convert.ToInt32(Session["orderid"].ToString()))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDate)
                </td>
                <td>
                    @Html.ActionLink("AddItems", "AddItems", new { id = item.id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    }

</table>

