@model IEnumerable<Sales_And_Inventory_MIS.Models.Expense>
@using Sales_And_Inventory_MIS.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="~/ExpenseTypes/Index" class="btn btn-block btn-danger">Type</a>
<a href="~/Entities/Index" class="btn btn-block btn-danger">Entity</a>
<a href="~/Expenses/SearchP" class="btn btn-block btn-danger">Search</a>
<h2>Rupees in Hand:</h2>@Global.Money
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.entity.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.entity.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ammount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
